@use "../variables" as v;

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: v.$white;
  box-shadow: 0px 3px 8px 0px #0000001f;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: all 0.2s ease;

    &-edit {
      gap: 12px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
      min-height: 32px;
    }

    &-name {
      min-width: 160px;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: v.$black-50;
    }

    &-date {
      min-width: fit-content;
    }

    &-value {
      display: flex;
      gap: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: v.$black-80;
    }

    &-input {
      height: 40px;
      width: 100%;
      border: 1px solid v.$black-20;
      border-radius: 8px;
      padding: 10px 12px;
      cursor: pointer;
      &:focus {
        outline-color: v.$brand-assistive-focus;
        ~ .card__list-select-arrow {
          transform: rotateX(180deg) translateY(50%);
        }
      }

      &--small {
        width: 180px;
      }
    }
  }
}
