@use "../variables" as v;

.main-block {
  flex: 1;
  background-color: v.$bg;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 28px;
    width: 640px;
  }

  &__title {
    margin-bottom: 16px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-chevron {
      position: absolute;
      left: -64px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-text {
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0.25px;
    }

    &-buttons {
      display: flex;
      gap: 4px;
      & button {
        cursor: pointer;
      }
    }

    &-pen path {
      stroke: v.$brand-primary;
    }

    &-trash path {
      stroke: v.$brand-assistive-red;
    }
  }
}
