@use "../variables" as v;

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 6px;
  background-color: v.$brand-primary;
  height: 100%;
  width: 48px;

  &__modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
  }

  &__additional {
    position: relative;
    &::before {
      content: "";
      width: 19px;
      height: 1px;
      background-color: v.$brand-primary-20;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__module {
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    transition: all 0.2s ease;
    background-color: v.$brand-primary;
    &:hover {
      background-color: v.$brand-primary-10;
    }
    &:active {
      background-color: v.$brand-primary-20;
    }
  }
}
