$brand-primary: #3b3b3b;
$brand-secondary: #6d4aff;
$brand-variant: #6243e6;
$brand-assistive-purple: #ebe6ff;
$brand-assistive-red: #d72323;

$brand-primary-10: #4e4e4e;
$brand-primary-20: #626262;
$brand-primary-30: #757575;

$bg: #f7f7f7;
$white-95: #f5f5f5;
$white: #fff;

$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-80: rgba(0, 0, 0, 0.8);
