@use "components/main-block";
@use "components/main-menu";
@use "components/sidebar";
@use "components/card";
@use "components/photos";
@use "components/button";
@use "components/custom-select";
@use "components/modal";
@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
  color: v.$brand-primary;
}

.app {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  height: 800px;
  display: flex;
}
